<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/navbar.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/helpers.js"></script>

  <title></title>
</head>

<body>

  <div id='cssmenu'>
    <ul>
      <li class='active'><a href='/'><span>Home</span></a></li>
      <li><a href='/recipe_finder'><span>RecipeFinder</span></a></li>
      <li><a href='/favorites'><span>My Favorite Recipes</span></a></li>
      <% if logged_in? %>
        <li class='last'><a href='/logout'><span>Sign Out</span></a></li>
        <li class='name'><span>Logged in as: <%=session[:user_name]%></span>
      <% end %>
    </ul>
  </div>

  <%= yield %>
</body>
</html>
