<script src="/js/recipe_finder.js"></script>

<div class="container">
  <% if logged_in? %>

  <h1><%=session[:user_name]%>'s RecipeFinder</h1>

  <form class="add-ingredient">
    <input type="text">
    <button>Add Ingredient</button>
  </form>

  <form class="find-recipes" method="get" action="/recipes">
    <button>Find Recipes!</button>
  </form>

  <div class="ingredient-container">
    <h3>Ingredients</h3>
    <form class="ingredient-list"></form>
    <button class="delete-selected">Delete Selected Ingredients</button>
  </div>

  <div class="recipe-container">
    <h3>Recipes</h3>
    <ul class="recipe-list"></ul>
  </div>

  <div class="ingredient-template" style="display: none;">
    <div class="ingredient-item">
      <input type="checkbox" name="ingredient" value="" checked>
      <span></span>
    </div>
  </div>

  <div class="recipe-template" style="display: none;">
    <figure class="recipe-item">
      <img>
      <figcaption></figcaption>
      <button>Add to Favorites</button>
    </figure>
  </div>

  <% else %>
    <h1>Welcome! Please Log In</h1>
  <% end %>
</div>
